/* Primary colors */
:root {
    --bg-light: #f2f2f2;
    --bg-dark: #333;
    --primary-color: #ff4000;
    --secondary-color: #ff6600;
    --accent-color: #ff3300;
    --text-dark: #444;
    --text-light: #555;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Contact Us Page styles */
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.contact-us h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.contact-info .address,
.contact-info .phone {
    display: flex;
    text-align: left;
}

.contact-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: var(--bg-light);
    color: var(--bg-dark);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 20px 0;
    width: 500px;
    height: 600px;
}

.contact-form h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--bg-light);
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    transition: .2s;
}
